<html>
<title>AHORCADO - Jugando</TITLE>
<body>
<h1 align=center>A H O R C A D O</h1>
<br>

<div align=center>
<div align=center>
_ _ _ _ _ _ _ _ _ _
</div>
<br>
<table>
<tr>
<%('A'..'Z').each do |letra| %>
<td>
<form method=post action="http://localhost:4567/Iniciar/<%=letra%>" id="Form<%=letra%>">
<div align=center>
<input type=submit id="<%=letra%>" value="<%=letra%>"/>
</div>
</form>
</td>
<% end %>
</tr>
</table>

<div align=center>
<%= @mensaje %>
</div>
</div>

</body>
</html>
